.storybook-button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}
.storybook-button--primary {
  color: white;
  background-color: #17696A;
}
.storybook-button--danger {
  background-color: #e80909;
  color: #ffffff;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
