.container {
  background-color: antiquewhite;
  min-height: 800px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.slider {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sliders {}

.arrow {
  margin: 0 32px;
  align-self: center;
}

.arrow:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.arrow:active {
  background-color: rgb(255, 255, 255);
}

.icon {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  padding: 19px;
}

.button {
  background-color: antiquewhite;
  border: none;
}

.sliders-line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 32px;
}
